

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Roboto:100,200,300,400,500,600&display=swap');

body {
    margin: 0;
}

.logo-container h2{
    font-family: 'Josefin Sans';
    color: white;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.5em;
}

p {
    font-family: "Roboto";
    font-weight: 300;
}

h2 {
    font-family: "Roboto";
    color: black;
    font-size: 1.2em;
    font-weight: 400;
}

.introduction {
    background-image: url("/images/stairs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introductory-box {
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.introductory-box h1 {
    font-family: 'Josefin Sans';
    margin: 0.1em;
    color: white;
    font-size: 8em;
}

.introductory-box h2 {
    font-weight: 300;
    margin: 2em;
    color: white;
    font-size: 1.8em;
}

button {
    border: none;
    color: black;
    text-align: center;
    background-color: #f88c8c;
    font-size: 1.5em;
    font-weight: 600;
    padding: 1.1em 1.2em;
    cursor: pointer;
}

button:hover {
    background-color: #EB7F7F;
    transition: background-color 450ms;
}

.introductory-box p {
    color: white;
}

.navigation {
    background-color: white;
}

.bold-information {
    font-family: 'Josefin Sans';
    margin-bottom: 0;
    font-size: 1.2em;
}

.logo-container {
    margin-top: -9em;
    margin-left: 85em;
}

.dots-container {
    display: block;
    height: 75px;
    margin-left: 165px;
    margin-bottom: -30px;
}

.dot {
    border-radius: 50%;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #f88c8c;
}

.dot1{
    background-color: #d9d9d9;
    margin-bottom: 15px;
    margin-right: -10px;
}

.dot2 {
    background-color: #a6a6a6;
    margin-bottom: 40px;
}

.dot3 {
    background-color: #eff0f2;
    margin-top: 50px;
    margin-left: -20px;
}

.process {
    background-image: url("/images/desk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.point-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12em;
}

.point-container:nth-of-type(odd) {
    margin-top: -5em;
}

.point-container:nth-of-type(even) {
    margin-top: 10rem;
}

.point-text {
    margin-top: -2em;
    color: white;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    text-align: center;
    font-size: 1.3em;
}

.point {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(248,140,140, 0.6);
    font-family: 'Josefin Sans';
    font-size: 3em;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    border: 0.1em solid rgba(248,140,140, 0.6);
}

.point h1 {
    margin: 0;
}

.why {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.2em;
    padding: 40px 20px;
}

.section-header {
    text-align: center;
}

.section-header h2 {
    color: #f88c8c;
    font-weight: 500;
    font-size: 1.8em;
    margin-bottom: 0;
}

.section-header h2::after {
    content: "";
    display: block;
    width: 2em;
    border-bottom: 1px solid black;
    position: relative;
}


.section-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%
}

.lets-juggle {
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.lets-juggle button {
    margin: 40px;
    width: 8em;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}

.basis-information {
    display: flex;
    flex-direction: column;
}

input.text-field {
    padding: 5px;
    margin: 10px;
    height: 1.7em;
    width: 250px;
    font-size: 1.2em;
    font-family: "Roboto";
}

.section-column {
    display: flex;
    flex-direction: column;
}

.location-information {
    display: flex;
    flex-direction: column;

}

.location-information span {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.location-information span p {
    margin: 1px 7px;
}

textarea {
    margin-top: 10px;
    padding: 10px;
    font-size: 1.2em;
    height: 280px;
    width: 380px;
}

.column {
    margin: 20px 60px;
}

.a-why {
    margin: 30px 0;
    width: 300px;
}

h3 {
    color: black;
    margin: 0;
    font-weight: 400;
    font-size: 1em;
}

.our-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.our-services-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    margin: 60px 20px;
}

.our-services-box h2 {
    margin-top: 40px;
    margin-bottom: 0px;
}

footer {
    background: #f9f9f9;
}

.contact-information {
    display: flex;
    flex-direction: column;
    margin: 20px 60px;
}

.information {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 10px 0;
}

.information p {
    margin: 0 10px;
}

h4 {
    font-family: "Roboto";
    font-weight: 400;
    margin: 0;
}

@media screen and (max-width: 1680px) {
    .introductory-box h1 {
        font-size: 8em;
    }
}

@media screen and (max-width: 1440px) {
    .introductory-box h1 {
        font-size: 7em;
    }

    .logo-container {
        margin-top: -9em;
        margin-left: 70em;
    }
}


@media screen and (max-width: 1199px) {
    .introductory-box h1 {
        font-size: 5.5em;
    }

    .logo-container {
        margin-top: -12em;
        margin-left: 55em;
    }
}

@media screen and (max-width: 991px) {
    .introductory-box h1 {
        font-size: 4.6em;
    }

    .logo-container {
        margin-top: -18em;
        margin-left: 43em;
    }
}

@media screen and (max-width: 420px) {
    .logo-container {
        margin-top: -5em;
        margin-left: 11em;
    }

    .logo-container h2{
        font-weight: 600;
        font-size: 1.2em;
    }

    .dots-container {
        height: 60px;
        margin-left: 130px;
        margin-bottom: -25px;
    }

    .dot {
        width: 20px;
        height: 20px;
    }

    .dot1{
        margin-bottom: 15px;
        margin-right: -10px;
    }

    .dot2 {
        margin-bottom: 37px;
    }

    .dot3 {
        margin-top: 40px;
        margin-left: -15px;
    }

    .introduction {
        height: 50vh;
    }

    .introductory-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -3em;
    }

    .introductory-box h1 {
        margin: 0 0;
        font-size: 1.8em;
        text-align: center;
    }

    .introductory-box h2 {
        font-size: 1em;
        text-align: center;
    }

    button {
        font-size: 1em;
        padding: 1em 1.1em;
    }

    .section-header {
        margin-bottom: 20px;
    }

    .section-header h2 {
        font-size: 1.5em;
        margin-bottom: 0;
    }

    .our-services {
        padding: 10px;
    }

    .our-services-box {
        margin: 10px 0;
    }

    .our-services-box h2 {
        margin-top: 20px;
        margin-bottom: 0px;
    }

    input.text-field {
        padding: 5px;
        height: 30px;
        width: 70vw;
        margin: 5px;
    }

    textarea {
        margin-top: 20px;
    }

    .lets-juggle button {
        margin: 20px;
        width: 16em;
    }

    .process {
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 5px;
    }

    .point-container {
        width: 9em;
    }

    .point-container:nth-of-type(odd) {
        margin-top: 1em;
        margin-left: -8em;
    }

    .point-container:nth-of-type(even) {
        margin-top: 1em;
        margin-right: -8em;
    }

    .point-container.up {
        margin-top: -2em;
    }

    .point-text {
        margin-top: -2em;
        font-size: 1em;
    }

    .point {
        font-size: 2em;
    }

    .column {
        margin: 0px 40px;
    }

    .a-why {
        margin: 20px 0;
        width: 300px;
        font-size: 0.9em;
    }
}




