{{ define "main" }}
    <section class="introduction">
        {{ $stairs := "images/stairs.jpg" | absURL }}
        <!-- <img class="stairs-image" src="{{ $stairs }}" alt="an architecht office with stairs in the foreground"> -->
        <div class="introductory-box">
            <div class="yellow-line"></div>
            <h1>WE JUGGLE TO FIND</h1>
            <h1>YOU THE IDEAL OFFICE.</h1>

            <h2>We are officebrokers, here to make the seach for a new office easy</h2>
            <button>LETS JUGGLE..</button>
            <p>no cost no commitment</p>
        </div>
    </section>
    <section class="our-services">
        <div class="section-header">
                <h2>OUR SERVICES</h2>
                <p class="header-reflection">SERVICES</p>
        </div>
        <div class="section-row">
            <div class="our-services-box">
                <img src="/images/stock.png" alt="" height="60">
                <h2>Office Brokers</h2>
                <p>Our office experts have in-depth knowgledge of officehotel.
                    They can help understand your needs and effectively find an ideal fit.
                    Our service is free, so just contact us.
                </p>
            </div>
            <div class="our-services-box">
                <img src="/images/price-tag.png" alt="" height="60">
                <h2>Special deals</h2>
                <p>
                    We help with negotiations like free periods, smaller deposits or all inclusive packages.
                </p>
            </div>
            <div class="our-services-box">
                <img src="/images/contract.png" alt="" height="60">
                <h2>Contract journey</h2>
                <p>
                    Let our lawyers review your rental contract before signing,
                    to insure you and your business don't get any surprises and are aware of the terms.
                </p>
            </div>
        </div>
    </section>
    <section class="lets-juggle">
            <div class="section-header">
                    <h2>LET'S JUGGLE...</h2>
                    <p class="header-reflection">JUGGLE</p>
            </div>
            <form action="https://mailthis.to/philip.dein@gmail.com" method="post">
                <div class="section-row">
                    <div class="basis-information">
                        <input class="text-field" type="text" name="text" placeholder="name">
                        <input class="text-field" type="email" name="email" placeholder="email">
                        <input class="text-field" type="text" name="company" placeholder="company">
                        <input class="text-field" type="number" name="number" placeholder="no. of people">
                    </div>
                    <div class="section-column">
                        <div class="location-information">
                            <h2>Closed or open space</h2>
                            <span>
                                <input type="radio" name="space" value="Open space">
                                <p>Open space</p>
                            </span>
                            <span>
                                <input type="radio" name="space" value="Close office">
                                <p>Closed office</p>
                            </span>
                            <span>
                                <input type="radio" name="space" value="Let's find out">
                                <p>Let's find out</p>
                            </span>
                             <!-- Redirect to a page after recaptcha -->
                            <input type="hidden" name="_after" value="{{ .Site.BaseURL }}">
                            <!-- Honeypot (to catch comment spam bots) -->
                            <input type="hidden" name="_honeypot" value="">
                        </div>
                        <div class="location-information">
                            <h2>Closed or open space</h2>
                            <span>
                                <input type="radio" name="space" value="Kbh K">
                                <p>Kbh K</p>
                            </span>
                            <span>
                                <input type="radio" name="space" value="Amager">
                                <p>Amager</p>
                            </span>
                            <span>
                                <input type="radio" name="space" value="Valby">
                                <p>Valby</p>
                            </span>
                            <span>
                                <input type="radio" name="space" value="Østerbro/Norhavn">
                                <p>Østerbro/Norhavn</p>
                            </span>
                            <span>
                                <input type="radio" name="space" value="Vesterbro">
                                <p>Vesterbro</p>
                            </span>
                            <span>
                                <input type="radio" name="space" value="Nørrebro">
                                <p>Nørrebro</p>
                            </span>
                            <span>
                                <input type="radio" name="space" value="Hellerup/Charlottenlund">
                                <p>Hellerup/Charlottenlund</p>
                            </span>
                        </div>
                    </div>
                    <div class="extra-information">
                        <textarea name="other-requirements" id="" cols="30" rows="20" placeholder="other requirements?" style="resize: none"></textarea>
                    </div>
                </div>
                <button type="submit">SEND</button>
            </form>
    </section>
    <section class="process">
        <div class="point-container">
            <div class="point">
                <h1>1</h1>
            </div>
            <div class="point-text">
                We perform market research to identify the best options based on your predefined parameters
            </div>
        </div>
        <div class="point-container up">
            <div class="point">
                <h1>2</h1>
            </div>
            <div class="point-text">
                Based on your feedback, we create a shortlist of the top options.
            </div>
        </div>
        <div class="point-container up">
            <div class="point">
                <h1>3</h1>
            </div>
            <div class="point-text">
                We schedule and facilitate tours of each location.
            </div>
        </div>
        <div class="point-container up">
            <div class="point">
                <h1>4</h1>
            </div>
            <div class="point-text">
                We request proposals from the top options for you to review
            </div>
        </div>
        <div class="point-container up">
            <div class="point">
                <h1>5</h1>
            </div>
            <div class="point-text">
                Negotiation and signing
            </div>
        </div>
    </section>
    <section class="why">
        <div class="section-header">
                <h2>WHY AN OFFICEBROKER?</h2>
                <p class="header-reflection">WHY</p>
        </div>
        <div class="section-row">
            <div class="column">
                <div class="a-why">
                    <h3>We save you time</h3>
                    Identifying, researching, and touring
                    offices is an extremely time-consuming process.
                    we reduce the time you spend looking for an office
                    and allow you to dedicate it to building your business.
                </div>
                <div class="a-why">
                    <h3>A larger business</h3>
                    it can be hard finding officehotels with
                    capacity for larger businesses,
                    We can help and find you a custom solution.
                </div>
            </div>
            <div class="column">
                <div class="a-why">
                    <h3>We know what to consider</h3>
                    When finding a new office there are many parameters to consider.
                    Parking? Free Print? Lunch available?
                    growth flexibility? We guide you to make sure you find the ideal fit.
                </div>
                <div class="a-why">
                    <h3>We keep it personal</h3>
                    We have are in a time where everything is digitalised.
                    We keep the human touch
                </div>
                <div class="a-why">
                    <h3>We are free</h3>
                    There is no out of pocket fee for clients,
                    the officehotel you sign with will pay the brokers fee.
                    No fee, No commitment
                </div>
            </div>
        </div>
    </section>
{{ end }}