{{ define "main" }}
    <section class="introduction">
        {{ $stairs := "images/stairs.jpg" | absURL }}
        <!-- <img class="stairs-image" src="{{ $stairs }}" alt="an architecht office with stairs in the foreground"> -->
        <div class="introductory-box">
            <div class="yellow-line"></div>
            <h1>WE JUGGLE TO FIND</h1>
            <H1>YOU THE IDEAL OFFICE.</H1>

            <h2>We are officebrokers, here to make the seach for a new office easy</h2>
            <button>LETS JUGGLE..</button>
            <p>no cost no commitment</p>
        </div>
    </section>
    <section class="process">
        <div class="point-container">
            <div class="point">
                <h1>1</h1>
            </div>
            <div class="point-text">
                We perform market research to identify the best options based on your predefined parameters
            </div>
        </div>
        <div class="point-container">
            <div class="point">
                <h1>2</h1>
            </div>
            <div class="point-text">
                Based on your feedback, we create a shortlist of the top options.
            </div>
        </div>
        <div class="point-container">
            <div class="point">
                <h1>3</h1>
            </div>
            <div class="point-text">
                We schedule and facilitate tours of each location.
            </div>
        </div>
        <div class="point-container">
            <div class="point">
                <h1>4</h1>
            </div>
            <div class="point-text">
                We request proposals from the top options for you to review
            </div>
        </div>
        <div class="point-container">
            <div class="point">
                <h1>5</h1>
            </div>
            <div class="point-text">
                Negotiation and signing
            </div>
        </div>
    </section>
{{ end }}